# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
env/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/

# Environment variables
.env
